@charset "utf-8";
/*** General ********************/
.nav a, .nav p, .nav h3, .nav h5, .one li a {
	font-family:'titilliumregular', Palatino, Georgia, serif;
}
.nav a, .nav h3, .nav h5, .one li a{
	text-transform: uppercase;
}
.nav a{
	display:block;
	text-decoration: none;
}
.nav i {
	display: block;
	padding: 0 5px;
	float: none;
}
.nav li {
	list-style: none;
}
.nav p {
	font-size: 13px;
	line-height: 23px;
	text-align:justify;
}
.nav input,
.nav textarea{
	display:block;
	border:none;
}
.nav h3 {
	margin:0 0 13px 0;
	padding:3px 0 5px 0;
	border-bottom:1px solid #999999;
	
	font-size: 20px;
}
.nav h5 {
	font-size: 16px;
}
.nav h6{
	line-height: 20px;
	
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size:13px;
	font-style:italic;
}
.nav img {
	padding: 5px;
	box-shadow: 1px 1px 4px rgba(102,102,102,.4);
	transition: all .3s;
	-ms-transition: all .3s;
}
.nav img:hover {
	transform:scale(1.1);
	-ms-transform:scale(1.1);
}

/* For Phone & Tablet */
.nav i.icon-chevron-down {
	display: none;
	visibility: hidden;
	padding:0;
	margin:0;
}

/* Start .nav Class *************/
.nav {
	display: block;
	position: relative;
	width: 1100px;
	height:80px;
	margin: 10px auto;
	padding:0 20px;
	
	border-right: 10px solid;
	border-left: 10px solid;
	border-radius: 3px;
}
.nav li {
	position: relative;
}
.nav > li {
	display: block;
	float:left;
	border-right:1px solid #999999;
}
.nav > li:hover {
	cursor: pointer;
}
.nav li > a{
	margin:10px 7px;
	padding: 20px 20px 19px 20px;
	font-size: 15px;
	
	border-radius:6px;
	transition: background-color .7s;
	-ms-transition: background-color .5s;	
}
.nav li:last-child{
	border:none;
}

/* End .nav Class ***************/

/* Start .one Class *************/
.nav .one {
	display: block;
	position: absolute;
	top: 100%;
	left: 0%;
	
	box-shadow: 1px 1px 1px rgba(102,102,102,.2);
	transition: background-color .3s ease-out;
	-ms-transition: background-color .3s ease-out;
}
.one > li {
	float: none;
	width: 180px;
}
.one > li a{
	padding: 4px 0 0 30px;
	margin:5px;
	height:20px;
	
	font-size: 11px;
	letter-spacing: 1px;
}
.one li i.icon-chevron-right {
	float:right;
	margin:3px 5px 0 0;
	
	font-size: 10px;
}
/* Animation Effects */
.nav li:hover .one > li{
	-webkit-animation: fadeIn .6s 1;
	animation: fadeIn .6s 1;
}
/* End .one Class *******************/

/*** Start Commons ***************/
#home,
#about,
#links,
#gallery,
#contact{
	padding: 10px;
	border-radius:0 0 6px 6px;
}
/*** End Commons ******************/

/*** Start Home *******************/
#home {
	left:-20px;
}
#home li {
	width: 260px;
	height: 290px;
}
#home li p{
	padding: 5px 8px;
}
/*** End Home *******************/

/*** Start About ****************/
#about {
	left:-115px;
}
#about li {
	width: 550px;
	height: 310px;
}
#about li p{
	padding: 5px 8px;
}
#about img {
	float: right;
	margin: 50px 5px 5px 20px;
}
#about h6{
	margin:15px 20px 10px 20px;
	padding:10px;
}
#about h6 i{
	font-size:11px;
}
/*** End About *******************/

/*** Start links ***************/
#links {
	left:-236px;
}
#links > li {
	width: 600px;
	height: 290px;
}
#links .link-block{
	width: 29%;
	float: left;
	padding: 0 5px 10px 5px;
	margin: 10px 0 7px 12px;	
}
#links .link-block i {
	font-size: 12px;
}
#links .link-block h5 {
	padding: 10px 0 6px 8px;
	margin: 0 12px 10px 12px;
	border-bottom: 1px dotted #999999;
}
#links .link-block h5 i {
	font-size: 20px;
}
#links .link-block li a {
	height:16px;
	
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	text-transform:capitalize;
	font-style: italic;
	font-size: 11px;
	padding: 2px 0 0 6px;
	
	transition: padding-left .3s;
	-ms-transition: padding-left .3s;
}
/*** End links *******************/

/**** Start Gallery ****************/
#gallery{
	left: -235px;
}
#gallery li{
	width:600px;
	height: 490px;
}
#gallery li .image{
	width:97%;
	height:140px;
	padding:10px;
	margin-bottom:5px;
	border-bottom:1px solid #999999;
}
#gallery li .image:last-child{
	border:none;
}
#gallery .image img{
	float:right;
	margin:5px 5px 10px 15px;
}
#gallery .image p{
	padding: 5px 8px;
}
#gallery a.more{
	display:block;
	width:35px;
	height:16px;
	padding:0px 4px;
	margin:8px 0 5px 10px;
	cursor: pointer;
	
	text-transform:capitalize;
	font-size:10px;
	
	border-radius:4px;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
}
/**** End Gallery *****************/

/*** Start Contact ****************/
.nav li.right{
	float:right;
}
#contact{
	left:-146px;
	overflow:hidden;
}
#contact li{
	width:230px;
	height:280px;
	padding:10px 15px;
}
#contact li input{
	height:20px;
}
#contact li textarea{
	height:60px;
}
#contact li input,
#contact li textarea{
	width:95%;
	border:5px solid #CCCCCC;
	
	border-radius:4px;	
	transition:border .8s;
	-ms-transition:border .8s;
}
#contact li input:focus,
#contact li textarea:focus{
	border:5px solid #666666;
}
#contact li p{
	display:block;
	padding:1px 0;
	border:none;
}
#contact li input#send{
	width:70px;
	height:27px;
	margin-top:5px;
	margin-left:16px;
	border:none;	
}
/*Social Network*/
 h4#h4-social {
	margin: 8px 0 3px 5px;
	padding-top:4px;
	border-top:1px solid #999999;
}
#contact li a {
	height: 40px;
	width: 40px;
	padding: 0;
	margin: 0 3px;
	float: left;
}
#contact li a i {
	margin-left: 5px;
	padding: 0;
	font-size: 25px;	
		
	transition: color .6s;
	-ms-transition: color .6s;
}
/* End Contact *****************/

/* Special Color and background */
.nav{
	border-right: 10px solid #57C0F8;                /*Main Color*/ 
	border-left: 10px solid #57C0F8;                 /*Main Color*/ 
}
.nav p{
	border-left:10px solid #57C0F8;                  /*Main Color*/                            
}
.nav img {
	background-color:#CCCCCC;
}